<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualisation d'équations</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Visualisation Interactive des Équations</h2>
        <form method="post" action="{% url 'plot_equation' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="equation">Entrez votre équation en fonction de x :</label>
                <input type="text" class="form-control" id="equation" name="equation" placeholder="Ex: np.sin(x)">
            </div>
            <button type="submit" class="btn btn-primary">Visualiser</button>
        </form>

        {% if plot %}
        <div class="mt-5">
            <h4>Graphique :</h4>
            <img src="data:image/png;base64,{{ plot }}" alt="Graphique de l'équation">
        </div>
        {% endif %}
    </div>
</body>
</html>